.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232F3E;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header > a > img{
    object-fit: fill;
    width: 100px;
    padding-left: 10px;
    cursor: pointer;
}

.header__search{
    display: flex;
    align-items: center;
    background-color: white;
    flex: 1;
    height: 40px;
    border-radius: 10px;
    margin: 0 30px;
}

.header__search > .MuiSvgIcon-root {
    background-color: #F3A847;
    height: 40px;
    width: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    
}

.header__search > input {
    flex: 1;
    border: none;
    outline: none;
    height: 90%;
    border-radius: 10px;
    font-size: 1.8rem;
    padding-left: 10px;
}

.header__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    position: relative;
}

.header__rightAccInfo{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.header__rightAccInfo > p >  span{
    font-weight: 900;
}

.header__rightOrders{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.header__rightOrders > p >  span{
    font-weight: 900;
}

.header__rightCart{
    display: flex;
    align-items: center;
    padding: 15px;
}

.header__rightCart > .MuiSvgIcon-root{
    font-size: 30px;
    color:white;
}

.router_links{
    text-decoration: none;
    color:white;
}

.header__rightCart > h2{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(243, 168, 71);
}

/* HOVERS */

.header__rightAccInfo:hover{
    border: 1px solid white;
    cursor: pointer;
}

.header__rightOrders:hover{
    border: 1px solid white;
    cursor: pointer;
}

.header__rightCart:hover{
    border: 1px solid white;
    cursor: pointer;
}