.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin:0 20px 10px 10px;
    /* border: 1px solid black; */
    cursor: pointer;
}

.product__info{
    height: 100px;
    margin-bottom: 15px;
    background-color: white;
    align-self: flex-start;
    padding: 20px;
    width: 80%;
    font-size: 25px;
}

.product__price{
    margin-top:5px;
}

.product > button {
    background-color: rgb(243, 168, 71);
    padding:5px 20px;
    border-radius: 2px;
    color:#111;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 150px;
    text-align: center;
}

.product__rating > .MuiSvgIcon-root{
    color:gold;
    margin:10px 0;
}

.product__info > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button:hover {
    opacity: 0.9;
}
